<!-- Contact -->
<div class="mb4">
  <h4 class="f3 b lh-title mb3 tc">Get in contact</h4>
  <p class="w-100">* = required field</p>

  <form action="" netlify>
    <div class="flex-l mhn1-l">
      <div class="flex-row-l w-100">
        <!-- Name -->
        <div class="flex-column-l ph1-l">
          <fieldset>
            <input required type="text" id="name" name="name" placeholder="Name *" class="w-100 mb2">
            <label for="name">Name *</label>
          </fieldset>
        </div>
        <!-- Company -->
        <div class="flex-column-l ph1-l">
          <fieldset>
            <input optional type="text" id="company" name="company" placeholder="Company" class="w-100 mb2">
            <label for="company">Company</label>
          </fieldset>
        </div>
      </div>
      <div class="flex-row-l w-100">
        <!-- Email -->
        <div class="flex-column-l ph1-l">
          <fieldset>
            <input required type="email" id="email" name="email" placeholder="Email *" class="w-100 mb2">
            <label for="email">Email *</label>
          </fieldset>
        </div>
        <!-- Role -->
        <div class="flex-column-l ph1-l">
          <fieldset>
            <input optional type="text" id="role" name="role" placeholder="Your Role" class="w-100 mb2">
            <label for="role">Role</label>
          </fieldset>
        </div>
      </div>
    </div>

    <!-- Message -->
    <fieldset>
      <textarea required id="message" name="message" placeholder="Your message *" rows="8" cols="80" class="w-100"></textarea>
      <label for="message">Your message *</label>
    </fieldset>
    <!-- Button -->
    <div class="tc">
      <button type="submit" style="margin-top:.5rem" class="btn w-100 w-auto-ns raise">Submit</button>
    </div>
  </form>
</div>
