<div class="bg-off-white pv4">
	<div class="center mb4">

		<h2 class="f3 b lh-title mb3 tc">What next?</h2>

    <div class="flex-l" style="gap:25%">
      <div class="flex-column-l">
        <p>If you'd like to continue reading, why not check out some of the other blog posts.</p>
        <div class="tc">
          <a href="/post" class="btn raise">Read more posts</a>
        </div>
      </div>
      <div class="flex-column-l">
        <p>Ready to make contact? Send us a message and let us help you get your team on track.</p>
        <div class="tc">
          <a href="/contact" class="btn raise">Get in touch</a>
        </div>
      </div>
    </div>
	</div>
</div>